@font-face {
  font-family: 'D2Coding';
  src: url('/fonts/D2Coding-Ver1.3.2-20180524.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'D2Coding';
  src: url('/fonts/D2CodingBold-Ver1.3.2-20180524.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  /* color palette */
  --primary-color: #ffffff;
  --secondary-color: #f1f3f4;
  --tertiary-color: #e8f0fe;

  --reverse-primary-color: #000000;
  --reverse-secondary-color: #333333;
  
  --success-color: #16A085;
  --warning-color: #FFF59D;
  --error-color: #FF4C4C;
  --info-color: #669df6;
  --highlight-color: #16A085;
  --accent-color: #FFEB3B;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* color palette */
    --primary-color: #1e1e1e;
    --secondary-color: #202124;
    --tertiary-color: #303134;

    --reverse-primary-color: #ffffff;
    --reverse-secondary-color: #e0e0e0;

    --success-color: #16A085;
    --warning-color: #FFF59D;
    --error-color: #FF4C4C;
    --info-color: #669df6;
    --highlight-color: #161611;
    --accent-color: #16A085;
  }
}

:root {
/* config */
  font-family: 'D2Coding', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --textarea-border-width: 2px;
  --overlay-bg-color: rgba(0, 0, 0, 0.3);

/* svg */
  --svg-color: var(--reverse-primary-color);

/* text */
  --text-color: var(--reverse-secondary-color);
  --button-text-color: var(--reverse-secondary-color);
  --popup-text-color: var(--reverse-secondary-color);
  --button-selected-text-color: var(--reverse-secondary-color);

/* background */
  --button-bg-color: var(--primary-color);
  --button-hover-bg-color: var(--secondary-color);
  --button-active-bg-color: var(--highlight-color);
  --button-selected-bg-color: var(--accent-color);

  --background-color: var(--primary-color);
  --content-bg-color: var(--primary-color);
  --sidebar-bg-color: var(--secondary-color);
  --topbar-bg-color: var(--tertiary-color);
  --popup-bg-color : var(--primary-color);

/* etc */
  --border-color: var(--tertiary-color);
  --hover-border-color: var(--reverse-secondary-color);
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

input,
button {
  border-radius: 0.4em;
  border: 1px solid;
  border-color: var(--border-color);
  padding: 0.6em 1.2em;
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  outline: none;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: var(--hover-border-color);
  background-color: var(--button-hover-bg-color);
}

textarea {
  background-color: var(--content-bg-color);
  border: 2px solid var(--hover-boder-color);
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}